body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F5F7FA;
    color: #333;
    height: 100vh;
    overflow: hidden;
}
.container {
    display: flex;
    height: 100vh;
}
.sidebar {
    width: 170px;
    background-color: #fff;
    padding: 40px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    padding-top: 10px;
    top: 0;
    left: 0;
    bottom: 0;
    overflow-y: auto;
    border-radius: 10px;
}
.sidebar img {
    width: 40px;
    margin-right: 10px;
}
.sidebar h2 {
    font-size: 24px;
    font-weight: 600;
    color: #1A1A1A;
    margin-bottom: 40px;
}
.sidebar ul {
    list-style: none;
    padding: 0;
}
.sidebar ul li {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}
.sidebar ul li a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    font-weight: 500;
}
.sidebar ul li a.active {
    color: #3B82F6;
}
.sidebar ul li i {
    margin-right: 10px;
    font-size: 20px;
}
.main-content {
    margin-left: 250px;
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}
.header {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:transparent;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    border-radius: 7px;
}
.header h1 {
    font-size: 24px;
    font-weight: 600;
    color: #1A1A1A;
}
.header .search-bar {
    display: flex;
    align-items: center;
    background-color: #F1F3F5;
    padding: 10px;
    border-radius: 8px;
    width: 300px; /* Fixed width for the search bar */
}
.header .search-bar input {
    border: none;
    background: none;
    outline: none;
    margin-left: 10px;
    font-size: 16px;
    width: 100%; /* Ensure the input takes the full width of the search bar */
}
.header .user-info {
    display: flex;
    align-items: center;
}
.header .user-info img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 20px;
}
.content {
    flex: 1;
    padding: 20px;
    padding-top: 80px; /* Adjust based on header height */
    max-height: calc(100vh - 80px); /* Adjust based on header height */
}
