{% extends "base.html" %}
{% load static %}

{% block title %}BankDash - Loans{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/loan.css' %}">
{% endblock %}

{% block header %}Loans{% endblock %}

{% block content %}
<div class="loans-overview">
    <div class="loan-types">
        <div class="loan-type">
            <img alt="Personal Loans icon" height="40" src="https://img.icons8.com/external-flatart-icons-outline-flatarticons/64/external-personal-data-protection-flatart-icons-outline-flatarticons.png" width="40"/>
            <h3>Personal Loans</h3>
            <p>$50,000</p>
        </div>
        <div class="loan-type">
            <img alt="Corporate Loans icon" height="40" src="https://img.icons8.com/ios/100/business--v1.png" width="40"/>
            <h3>Corporate Loans</h3>
            <p>$100,000</p>
        </div>
        <div class="loan-type">
            <img alt="Business Loans icon" height="40" src="https://img.icons8.com/ios/100/small-business.png" width="40"/>
            <h3>Business Loans</h3>
            <p>$500,000</p>
        </div>
        <div class="loan-type">
            <img alt="Custom Loans icon" height="40" src="https://img.icons8.com/?size=100&id=11679&format=png&color=000000" width="40"/>
            <h3>Custom Loans</h3>
            <p>Choose Money</p>
        </div>
    </div>
    <h2>Active Loans Overview</h2>
    <table>
        <thead>
            <tr>
                <th>SL No</th>
                <th>Loan Money</th>
                <th>Left to repay</th>
                <th>Duration</th>
                <th>Interest rate</th>
                <th>Installment</th>
                <th>Repay</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>01.</td>
                <td>$100,000</td>
                <td>$40,500</td>
                <td>8 Months</td>
                <td>12%</td>
                <td>$2,000 / month</td>
                <td><button>Repay</button></td>
            </tr>
            <tr>
                <td>02.</td>
                <td>$500,000</td>
                <td>$250,000</td>
                <td>36 Months</td>
                <td>10%</td>
                <td>$8,000 / month</td>
                <td><button>Repay</button></td>
            </tr>
            <tr>
                <td>03.</td>
                <td>$900,000</td>
                <td>$40,500</td>
                <td>12 Months</td>
                <td>12%</td>
                <td>$5,000 / month</td>
                <td><button>Repay</button></td>
            </tr>
            <tr>
                <td>04.</td>
                <td>$50,000</td>
                <td>$40,500</td>
                <td>25 Months</td>
                <td>5%</td>
                <td>$2,000 / month</td>
                <td><button>Repay</button></td>
            </tr>
            <tr>
                <td>05.</td>
                <td>$50,000</td>
                <td>$40,500</td>
                <td>5 Months</td>
                <td>16%</td>
                <td>$10,000 / month</td>
                <td><button>Repay</button></td>
            </tr>
            <tr>
                <td>06.</td>
                <td>$80,000</td>
                <td>$25,500</td>
                <td>14 Months</td>
                <td>8%</td>
                <td>$2,000 / month</td>
                <td><button>Repay</button></td>
            </tr>
            <tr>
                <td>07.</td>
                <td>$12,000</td>
                <td>$5,500</td>
                <td>9 Months</td>
                <td>13%</td>
                <td>$500 / month</td>
                <td><button>Repay</button></td>
            </tr>
            <tr>
                <td>08.</td>
                <td>$160,000</td>
                <td>$100,800</td>
                <td>3 Months</td>
                <td>12%</td>
                <td>$900 / month</td>
                <td><button>Repay</button></td>
            </tr>
        </tbody>
    </table>
    <div class="totals">
        <p>Total <span>$125,0000</span></p>
        <p><span>$750,000</span></p>
        <p><span>$50,000 / month</span></p>
    </div>
</div>
{% endblock %}